.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css */

html, body {
  background-color: #F7F7F6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #EEEEEE;
  border-bottom: 2px solid #E5E5E7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #000;
}

.user-photo {
  height: 23px;
  width: 23px;
  border-radius: 2px;
  margin-right: 11px;
}

.chart {
  color: #FFF;
  background-color: #0b3a53;
  margin-bottom: 20px;
  min-height: 100px;
  position: relative;
}

.add-column {
  color: #FFF;
  background: #76b1b1;
  padding: 0;
}

.content {
  padding-top: 22px;
}

.fa-plus-square {
  margin: 0 auto
}

.chart-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.line {
  stroke: #FFF;
  fill: none;
}

.dot {
  stroke: #FFF;
  stroke-width: 2;
  fill: #a6a7a7
}

.entry-form {
  position: absolute;
  height: 120%;
  top: -10%;
  right: -10%;
  width: 190px;
  background: #76b1b1;
  padding: 9px;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px rgba(61,61,61,1);
}

.entry-form h6 {
  font-size: .8rem;
  font-weight: 600;
  margin-bottom: 0;
}

.entry-form .btn {
  height: 22px;
  font-size: 0.8rem;
  line-height: .8;
}

.react-datepicker-popper {
  width: max-content;
}

.react-datepicker__input-container input, .record-value {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  text-align: center;
}
